body{
    background-color:grey;
}
button {
    width: 200px;
    height: 200px;
    margin:auto;
    margin-top: 15%;
    background-image: url("buttons/clear_square.webp");
    border: 0;
    background-color:grey;
    background-size: contain;
    background-repeat: no-repeat;
}

button.pressed{
    background-image: url("buttons/clear_lit_square.webp");
}

button:hover{
    background-size: 90%;
    background-position: center;
}

button:active{
    background-image: url("buttons/clear_pressed_square.webp");
}


#sequencer{
    display: block;
    margin: auto;
    width: 87%;
}