body{
    background-color:black;
}
.step-button {
    width: 50px;
    height: 50px;
    margin:auto;
    margin-bottom: 5vh;
    background-image: url("buttons/clear_square.webp");
    border: 0;
    background-color:black;
    background-size: contain;
    background-repeat: no-repeat;
}

.step-button.pressed{
    background-image: url("buttons/clear_pressed_square.webp");
}

button:hover{
    background-size: 90%;
    background-position: center;
}

.step-button.active{
    background-image: url("buttons/clear_lit_square.webp");
}

#controls button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

#gif-container {
  height: 50vh; /* half the viewport height */
  width: 100%;
  overflow: hidden; /* in case gif is bigger */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* optional, to frame the GIF */
}

#gif-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* or cover if you want to crop */
}

#sequencer{
    display: block;
    margin: auto;
    width: 95%;
}

#sequencer-grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: auto;
    width: fit-content;
}

.track-row {
  display: flex;
  gap: 4px;
}